.heading {
  color: #216353;
  font-size: 60px;
}

h2 {
  color: #216353;
  font-size: 40px;
}

p {
  color: #434e52;
  font-size: 25px;
}

.list {
  color: #434e52;
  font-size: 25px;
}

body {
  background-color: #d6e4f0;
}


.lookbatter {
    border-width: 10px;
    border-color: black;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
  }
img {
  border-radius: 100%;
}
