/*****************************TAG SELECTORS*****************************/
body {
  background-color: #ffe2ff;
}

h1 {
  color: #cc0e74;
  font-size: 60px;
  margin: 4;
}

h2 {
  color: #004445;
  font-size: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*****************************CLASS SELECTORS*****************************/
.userrecommendation {
  color: red;
}

.foodsparagraph {
  color: #434e52;
  font-size: 18px;
}

.foodsimage {
  border-radius: 10%;
}

/*****************************ID SELECTORS*****************************/
#footer-line {
  color: black;
  font-size:
}

#dotted-design {
    border-width: 10px;
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
  }

#fotter-padd {
  padding: 12px;
}
